.page{
    background: #2A2C2F;
    max-width: 1280px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    margin: 0 auto;
}

.header{
    margin: 28px 48px 0 48px;
    max-width: 1184px;
    max-height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header {
        margin: 28px 24px 0 24px;
    }
}
@media screen and (max-width: 320px) {
    .header {
        margin: 16px 16px 0 16px;
  }
}

.header__logo{
    max-width: 176px;
}
@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 142px;
  }
}
.header__link-zone{
    padding-top: 18px;
}
@media screen and (max-width: 320px) {
    .header__link-zone {
        padding-top: 14px;
  }
}
.header__link{
    margin-top: 46px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}
@media screen and (max-width: 320px) {
    .header__link {
        font-size: 18px;
        line-height: 20px;
  }
}
.header__link:first-child{
    margin-right: 18px;
}
.header__link:hover{
    text-decoration: underline;
}




.lead{
    margin: 0 auto;
    text-align: center;
    max-width: 984px;
    margin-top: 56px;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin-top: 48px;
    }
}
@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
    }
}
@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
        margin-top: 48px;
    }
}
.lead__title{
    margin: 0 auto;  
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}
/* в разрешение 700px начинает съезжать влево*/
@media screen and (max-width: 700px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
}
}
.lead__subtitle{
    margin: 0 auto;
    margin-top: 32px;
    max-width: 640px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}
@media screen and (max-width: 700px) {
    .lead__subtitle {
        max-width: 288px;
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
}
}

.lead__image{
    margin-top: 64px;
    max-width: 984px;
}
@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        width: 100%;
        margin-top: 56px;
    }
}
@media screen and (max-width: 768px) {
    .lead__image {
        max-width: 768px;
    }
}
@media screen and (max-width: 320px) {
    .lead__image {
        max-width: 320px;
        margin-top: 40px;
    }
}

.lead__image-sign{
    text-align: start;
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
    .lead__image-sign {
        margin-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .lead__image-sign {
        margin-left: 16px;
    }
}


.intro{
    margin: 92px auto 92px auto;
    max-width: 984px;
}
@media screen and (max-width: 1024px) {
    .intro{
        margin: 88px 48px 88px 48px;
        max-width: 928px;
    }
}
@media screen and (max-width: 768px) {
    .intro{
        margin: 88px 24px 88px 24px;
        max-width: 720px;
    }
}
@media screen and (max-width: 320px) {
    .intro {
        margin: 64px auto 64px auto;
        max-width: 288px;
    }
}

.intro__title{
    margin-bottom: 0;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}
@media screen and (max-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}
.intro__subtitle{
    max-width: 690px;
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

@media screen and (max-width: 1000px) {
    .intro__subtitle {
        max-width: 720px;
    }
}

.intro__lists{
    margin-top: 33px;
    margin-bottom: 0;
    padding-left: 0;
}
.intro__list{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
}


.photo-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0 auto;
    max-width: 1184px;
    margin-bottom: 92px;
}
@media screen and (max-width: 1200px) {
    .photo-grid{
        grid-template-columns: repeat(3, 1fr);
        max-width: 928px;
        gap: 14px;
    }
}
@media screen and (max-width: 950px) {
    .photo-grid{
        grid-template-columns: repeat(2, 352px);
        max-width: 720px;
        gap: 16px;
        margin-bottom: 88px;
    }
}
@media screen and (max-width: 750px) {
    .photo-grid{
        grid-template-columns: repeat(1, 288px);
        max-width: 288px;
        gap: 12px;
        margin-bottom: 64px;
    }
}
.photo-grid__item{
     max-width: 284px;
}
@media screen and (max-width: 1200px) {
    .photo-grid__item{
        max-width: 300px;
    }
}
@media screen and (max-width: 950px) {
    .photo-grid__item{
        max-width: 352px;
    }
}
@media screen and (max-width: 750px) {
    .photo-grid__item{
        max-width: 288px;
    }
}



.places{
    max-width: 984px;
    margin: 0 auto;
}
@media screen and (max-width: 1024px) {
    .places{
        max-width: 928px;
    }
}
@media screen and (max-width: 950px) {
    .places{
        max-width: 720px;
    }
}
@media screen and (max-width: 320px) {
    .places{
        max-width: 320px;
    }
}
.card{
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content); 
    column-gap: 40px;
    row-gap: 48px;
    margin-top: 80px;
}

.card:first-child{
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .card{
        max-width: 928px;
        grid-template-columns: 440px 456px;
        column-gap: 32px;
    }
}
@media screen and (max-width: 950px) {
    .card{
        margin-top: 73px;
        max-width: 720px;
        grid-template-columns: 340px 352px;
        column-gap: 28px;
    }
}
@media screen and (max-width: 750px) {
    .card{
        max-width: 320px;
        grid-template-columns: repeat(1, minmax(320px, 1fr));
        gap: 32px;
        margin: 0 auto;
        margin-top: 50px;
    }
}

.card__title{
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}
@media screen and (max-width: 950px) {
    .card__title{
        font-size: 42px;
        line-height: 46px;
    }
}
@media screen and (max-width: 320px) {
    .card__title{
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
    }
}
.card__link-zone{
    align-self: flex-end;
}
@media screen and (max-width: 320px) {
    .card__link-zone{
       padding-left: 16px;
    }
}
.card__url{
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
.card__link{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: #FFFFFF;
}
.card__link:hover{
    opacity: 0.8;
}
.card__image{
    max-width: 460px;
}
@media screen and (max-width: 1024px) {
    .card__image{
        max-width: 440px;
    }
}
@media screen and (max-width: 950px) {
    .card__image{
        max-width: 340px;
    }
}
@media screen and (max-width: 320px) {
    .card__image{
        max-width: 320px;
    }
}
.card__text-zone{
    align-items: start;
}
.card__text{
    margin: 0;
    max-width: 484px;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin-bottom: 26px;
}
.card__text:last-child{
    margin-bottom: 0;
}

@media screen and (max-width: 950px) {
    .card__text{
        font-size: 16px;
        margin-bottom: 25px;
        max-width: 352px;
    }
}
@media screen and (max-width: 750px) {
    .card__text{
        margin: 0 auto;
        max-width: 288px;
        
    }
}







.cover{
    position: relative;
    margin: 92px auto 92px auto;
    max-width: 1184px;
    width: 100%;
}

.cover__link{
    text-decoration: none;
    color: #FFFFFF;
}
.cover__image{
    margin: auto;
    background-image: url(images/cover-trains.jpg); 
    background-color: #2A2C2F;
    background-size: cover;
    width: 1184px;
    height: 740px;
    opacity: 0.3;
}
.cover__image:hover{
    transition: 0.2s;
    opacity: 0.8;
}
@media screen and (max-width: 1184px) {
    .cover__image{
        box-sizing: border-box;
        width: 100%;
        padding-top: 62.5%;
    }
}

.cover__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
}
.cover__title{
    margin: 0;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}
@media screen and (max-width: 320px) {
    .cover__title{
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}

.cover__subtitle{
    margin: auto;
    margin-top: 32px;
    max-width: 360px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
@media screen and (max-width: 320px) {
    .cover__subtitle{
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }
}



.footer{
    display: flex;
    margin: 0 48px 24px 48px;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .footer{
        margin: 0 24px 24px 24px;
    }
}
@media screen and (max-width: 600px) {
    .footer{
        margin-right: 0;
        margin-left: 16px;
        flex-direction: column;
        
    }
}


.footer__links{
    /*margin-left: 48px;*/
}
@media screen and (max-width: 600px) {
    .footer__links{
        display: flex;
        flex-direction: column;
    }
}

.footer__link{
    margin-right: 18px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__link:last-child{
    margin-right: 0;
}
.footer__link:hover{
    opacity: 0.8;
}
@media screen and (max-width: 600px) {
    .footer__link{
        font-size: 24px;
        line-height: 24px;
        margin-right: 0;
        margin-bottom: 32px;
    }
}
@media screen and (max-width: 600px) {
    .footer__link:last-child{
        margin-bottom: 48px;
    }
}
.footer__author{
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
@media screen and (max-width: 600px) {
    .footer__author{
        line-height: 14px;
    }
}
