.cover{
    text-decoration: none;
    color: #FFFFFF;
    position: relative;
    margin: 92px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-image: url(../../images/cover-trains.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1184px;
    max-height: 100%;
    width: 100%;

}
.cover::after{
    position: absolute;
    content: ' ';
    height: 100%;
    top: 0;
    left: 0;
    background: #2A2C2F;
    opacity: 0.3;
    background-size: contain;
    width: 100%;

}
.cover:hover{
    transition: 0.2s;
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
     .cover{
        height: 640px;
        
    }
    .cover::after{
        height: 640px;
   }
}
@media screen and (max-width: 768px) {
     .cover{
       height: 480px;  
   }
    .cover::after{
        height: 480px;
   }
}
@media screen and (max-width: 600px) {
    .cover{
       margin: 66px auto 64px auto;
       height: 200px;  
   }
   .cover::after{
    height: 200px;
}
}
@media screen and (max-width: 320px) {
    .cover{
       height: 200px;  
   }
   .cover::after{
    height: 200px;
}
}